* {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
header {
  background-color: rgba(33, 33, 33, 0.9);
  color: #ffffff;
  display: block;
  font: 14px/1.3 Arial, sans-serif;
  height: 50px;
  position: relative;
  z-index: 5;
}
h2 {
  margin-top: 30px;
  text-align: center;
}
header h2 {
  font-size: 22px;
  margin: 0 auto;
  padding: 10px 0;
  width: 80%;
  text-align: center;
}
header a,
a:visited {
  text-decoration: none;
  color: #fcfcfc;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars,
.twinkling,
.effectWrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  z-index: 0;
}

.twinkling {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat
    top center;
  z-index: 1;

  -moz-animation: move-twink-back 500s linear infinite;
  -ms-animation: move-twink-back 500s linear infinite;
  -o-animation: move-twink-back 500s linear infinite;
  -webkit-animation: move-twink-back 500s linear infinite;
  animation: move-twink-back 500s linear infinite;
}

.effectWrap {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  background: transparent;
  z-index: 5;
  overflow: hidden;
}

.button {
  margin: 0 auto;
  z-index: 5;
  overflow: hidden;
}

.planet {
  margin: 0 auto;
  z-index: 5;
  opacity: 0;
  display: block;
  overflow: hidden;
}

.landingWrap {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
}

.mainPage {
  height: 250px;
  background-color: blue;
}

@keyframes example {
  0% {
    color: white;
    text-align: center;
    top: 1000px;
    font-size: 50px;
    opacity: 1;
  }

  100% {
    text-align: center;
    top: 0px;
    font-size: 5px;
    opacity: 0;
  }
}

@keyframes planet {
  0% {
    top: 1000px;
    opacity: 1;
  }

  100% {
    top: 750px;
    opacity: 1;
  }
}

@keyframes welcome {
  0% {
    color: white;
    top: 100px;
    text-align: center;
    opacity: 0;
    font-size: 25px;
  }

  100% {
    top: 100px;
    text-align: center;
    opacity: 1;
    font-size: 25px;
    color: white;
  }
}

@keyframes kenneth {
  0% {
    color: white;
    top: 100px;
    text-align: center;
    opacity: 0;
    font-size: 300px;
  }

  100% {
    top: 100px;
    text-align: center;
    opacity: 1;
    font-size: 40px;
    color: white;
  }
}

@keyframes brook {
  0% {
    color: white;
    top: 100px;
    text-align: center;
    opacity: 0;
    font-size: 300px;
  }

  100% {
    top: 100px;
    text-align: center;
    opacity: 1;
    font-size: 40px;
    color: white;
  }
}

@keyframes full {
  0% {
    color: white;
    top: 100px;
    text-align: center;
    opacity: 0;
    font-size: 20px;
  }

  2% {
    color: white;
    top: 100px;
    text-align: center;
    opacity: 0.5;
    font-size: 20px;
  }

  4% {
    color: white;
    top: 100px;
    text-align: center;
    opacity: 0.1;
    font-size: 20px;
  }

  6% {
    color: white;
    top: 100px;
    text-align: center;
    opacity: 0.6;
    font-size: 20px;
  }

  8% {
    color: white;
    top: 100px;
    text-align: center;
    opacity: 0.2;
    font-size: 20px;
  }

  10% {
    color: white;
    top: 100px;
    text-align: center;
    opacity: 0.7;
    font-size: 20px;
  }

  20% {
    color: white;
    top: 100px;
    text-align: center;
    opacity: 0.3;
    font-size: 20px;
  }

  30% {
    color: white;
    top: 100px;
    text-align: center;
    opacity: 0.8;
    font-size: 20px;
  }

  40% {
    color: white;
    top: 100px;
    text-align: center;
    opacity: 0.4;
    font-size: 20px;
  }

  50% {
    color: white;
    top: 100px;
    text-align: center;
    opacity: 0.9;
    font-size: 20px;
  }

  75% {
    color: white;
    top: 100px;
    text-align: center;
    opacity: 0.5;
    font-size: 20px;
  }

  100% {
    top: 100px;
    text-align: center;
    opacity: 1;
    font-size: 20px;
    color: white;
  }
}

@keyframes button {
  0% {
    display: none;
    color: black;
    top: 100px;
    text-align: center;
    opacity: 0;
    background-color: transparent;
    font-size: 18px;
  }

  1% {
    opacity: 0.2;
  }

  100% {
    display: block;
    top: 100px;
    text-align: center;
    opacity: 1;
    background-color: lime;
    padding: 20px;
    font-size: 18px;
    color: black;
  }
}

.buttonWrap {
  visibility: hidden;
}

.test {
  position: relative;
  animation-name: example;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.test2 {
  position: relative;
  animation-name: example;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.test3 {
  position: relative;
  animation-name: example;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-delay: 2.2s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.planet {
  position: relative;
  animation-name: planet;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-delay: 13s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.pic {
  margin: 0 auto;
  width: 100%;
  width: 100%;
}

.welcome {
  position: relative;
  animation-name: welcome;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 22s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.kenneth {
  position: relative;
  animation-name: kenneth;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 24s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.brook {
  position: relative;
  animation-name: brook;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 25s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.full {
  position: relative;
  animation-name: full;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 26s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.full1 {
  position: relative;
  animation-name: full;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 28s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.full2 {
  position: relative;
  animation-name: full;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 30s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.button {
  position: relative;
  margin: 0 auto;
  animation-name: button;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 32s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.button {
  position: relative;
  margin: 0 auto;
  animation-name: button;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 32s;
  animation-fill-mode: forwards;
  overflow: hidden;
}
